// It's highly recommended to change the default colors
// to match your app's branding.
@import '~quasar/src/css/variables.sass';

$primary: #4184b0;
$secondary: #bed8e2;
$accent: #265080;

$dark: #303133;

$positive: #8dc63f;
$negative: #ff4800;
$info: #909399;
$warning: #f37b1d;
$typography-font-family: "PingFang SC", "Noto Sans SC", "Helvetica Neue", Helvetica, "Hiragino Sans", "Microsoft YaHei", Arial, sans-serif;

$textColor: #565759;
